## 150369. 택배 배달과 수거하기
* https://school.programmers.co.kr/learn/courses/30/lessons/150369

* 배달과 수거는 독립적?
    - 어차피 배달하고 전부 비운 후에야 수거를 함.

In [ ]:
# https://ddingmin00.tistory.com/82
def solution(cap, n, deliveries, pickups):
    deliveries = deliveries[::-1]
    pickups = pickups[::-1]
    answer = 0
    
    d = 0
    p = 0
    
    for i in range(n):
        d += deliveries[i]
        p += pickups[i]
        
        print("i ", d, p)
        while d > 0 or p > 0:
            d -= cap
            p -= cap
            answer += (n - i) * 2
        print("\t", d, p)
    return answer

solution(4, 5, [1, 0, 3, 1, 2], [0, 3, 0, 4, 0])

## 92342. 양궁대회
* https://school.programmers.co.kr/learn/courses/30/lessons/92342

In [ ]:
def solution(n, info):
    answer = [0] * 11
    Asum = sum(info)
    
    return answer

## 118667. 두 큐 합 같게 만들기
* https://school.programmers.co.kr/learn/courses/30/lessons/118667

In [11]:
# 1 (실패)
from collections import deque

def solution(queue1, queue2):
    dq1, dq2 = deque(queue1), deque(queue2)
    dq3, dq4 = deque(queue1), deque(queue2)
    target = (sum(dq1) + sum(dq2)) // 2
    
    if (sum(dq1) + sum(dq2)) % 2 != 0
        return -1
    
    count1, count2 = 0, 0
    while sum(dq1) != target:
        if count1 > len(dq1) + len(dq2):
            return -1
        
        if sum(dq1) < target:
            dq1.append(dq2.popleft())
        else:
            dq2.append(dq1.popleft())
        count1 += 1
    
    while sum(dq4) != target:
        if count2 > len(dq3) + len(dq4):
            return -1
        
        if sum(dq4) < target:
            dq4.append(dq3.popleft())
        else:
            dq3.append(dq4.popleft())
        count2 += 1
        
    return min(count1, count2)

solution([3, 2, 7, 2], [4, 6, 5, 1])
#solution([1, 2, 1, 2], [1, 10, 1, 2])
#solution([1, 1], [1, 5])

2

## 92341. 주차 요금 계산
* https://school.programmers.co.kr/learn/courses/30/lessons/92341

* [180, 5000, 10, 600]
* ["05:34 5961 IN", "06:00 0000 IN", "06:34 0000 OUT", "07:59 5961 OUT", "07:59 0148 IN", "18:59 0000 IN", "19:09 0148 OUT", "22:59 5961 IN", "23:00 5961 OUT"]
---
* [14600, 34400, 5000]

In [1]:
# 1 (성공)
def times_dif(X, Y):
    xh, xm = map(int, X.split(':'))
    yh, ym = map(int, Y.split(':'))
    if xm > ym:
        yh -= 1
        ym += 60
    return (yh - xh) * 60 + (ym - xm)

def roundup(x):
    if round(x) < x:
        return round(x) + 1
    else:
        return round(x)

def solution(fees, records):
    timed = {}
    for r in records:
        hm, carN, _ = r.split()
        if carN not in list(timed):
            timed[carN] = []
        timed[carN].append(hm)
        
    for carN in list(timed):
        if len(timed[carN]) % 2 == 1:
            timed[carN].append('23:59')
    timed = dict(sorted(timed.items()))
    
    N = len(timed)
    difs = [0] * N
    for i in range(N):
        carN = list(timed)[i]
        while len(timed[carN]) > 0:
            x = timed[carN].pop(0)
            y = timed[carN].pop(0)
            difs[i] += times_dif(x, y)
            
    answer = []
    for f in difs:
        if f <= fees[0]:
            answer.append(fees[1])
        else:
            total = fees[1] + roundup((f - fees[0]) / fees[2]) * fees[3]
            answer.append(total)
        
    return answer

solution([180, 5000, 10, 600], ["05:34 5961 IN", "06:00 0000 IN", "06:34 0000 OUT", "07:59 5961 OUT", "07:59 0148 IN", "18:59 0000 IN", "19:09 0148 OUT", "22:59 5961 IN", "23:00 5961 OUT"])

[14600, 34400, 5000]

## 92335. k진수에서 소수 개수 구하기
* https://school.programmers.co.kr/learn/courses/30/lessons/92335

## 64064. 튜플
* https://school.programmers.co.kr/learn/courses/30/lessons/64065

## 72411. 메뉴 리뉴얼
* https://school.programmers.co.kr/learn/courses/30/lessons/72411

## 178870. 연속된 부분 수열의 합
* https://school.programmers.co.kr/learn/courses/30/lessons/178870

* [1, 2, 3, 4, 5]
* 7
---
* [2, 3]

In [ ]:
# 1 (실패) - 시간초과
def solution(sequence, k):
    answer = []
    i, j = 0, 1
    while True:
        #print("i: ", i, " j: ", j, " Sum: ", sum(sequence[i:j+1]))
        # if i == len(sequence) - 1:
        #     if sum(sequence[i:j]) == k:
        #         answer.append([i, j])
        #     break
        if sum(sequence[i:j]) == k:
            answer.append([i, j-1])
            if i < j:
                i += 1
            else:
                j += 1
        elif sum(sequence[i:j]) < k:
            j += 1
        else:
            i += 1

    short = len(sequence)
    result = [0, 0]
    for i in range(len(answer)):
        ans_len = answer[i][1] - answer[i][0]
        if ans_len < short:
            short = ans_len
            result[0] = answer[i][0]
            result[1] = answer[i][1]
            
    return result

In [2]:
# 2 (실패) - 시간초과
def solution(sequence, k):
    answer = []
    i, j = 0, 1
    N = len(sequence)
    while j < N+1:
        #print("i: ", i, " j: ", j, " Sum: ", sum(sequence[i:j+1]))
        S = sum(sequence[i:j])

        if S == k:
            answer.append([i, j-1])
            if i < j:
                i += 1
            else:
                j += 1
        elif S < k:
            j += 1
        else:
            i += 1

    result = [0, 0]
    for i in range(len(answer)):
        ans_len = answer[i][1] - answer[i][0]
        if ans_len < N:
            N = ans_len
            result[0] = answer[i][0]
            result[1] = answer[i][1]
            
    return result

solution([1, 2, 3, 4, 5], 7)

[2, 3]

In [12]:
# 3 (실패) - 시간초과
def solution(sequence, k):
    answer = []
    N = len(sequence)
    
    for i in range(N):
        S = 0
        S += sequence[i]
        if S == k:
            answer.append([i, i])
        else:
            for j in range(i+1, N+1):
                #print("\ti, j: ", i, " ", j)
                if j == N:
                    break
                if S + sequence[j] < k:
                    S += sequence[j]
                elif S + sequence[j] > k:
                    break
                else:
                    answer.append([i, j])
                    break
                    
    result = [0, 0]
    for i in range(len(answer)):
        ans_len = answer[i][1] - answer[i][0]
        if ans_len < N:
            N = ans_len
            result[0] = answer[i][0]
            result[1] = answer[i][1]
    return result

#solution([1, 2, 3, 4, 5], 7)
solution([1, 1, 1, 2, 3, 4, 5], 5)
#solution([2, 2, 2, 2, 2], 6)


# while문으로 해결해야...

[6, 6]

## 43165. 타겟 넘버
* https://school.programmers.co.kr/learn/courses/30/lessons/43165

## 42883. 큰 수 만들기
* https://school.programmers.co.kr/learn/courses/30/lessons/42883

* "4177252841"
* 4
---
* "775841"

In [1]:
# 1 (실패 - 시간초과)
def list2num(A):
    A2 = list(map(str, A))
    s = ''
    for a in A2:
        s += a
    
    return int(s)

def solution(number, k):
    Ns = list(map(int, (' ').join(number).split(' ')))
    result = []
    maxlen = len(Ns) - k
    
    for x in Ns:
        #print("x: ", x)
        if len(result) < maxlen:
            result.append(x)
        else:
            resn = list2num(result)
            pop_id = 0
            for i in range(maxlen):
                #print("- i: ", i, " result: ", result)
                cut = result[:i] + result[i+1:] + [x]
                cutn = list2num(cut)
                #print("\t", resn, cutn)
                if resn < cutn:
                    pop_id = i
                    resn = cutn
                
            result = result[:pop_id] + result[pop_id+1:] + [x]
    
    return str(list2num(result))

solution("4177252841", 4)

'775841'

In [ ]:
# 박진영
스택에 값 하나씩 저장
새로운 값이 스택 마지막 값보다 크면 스택 pop

## 60057. 문자열 압축
* https://school.programmers.co.kr/learn/courses/30/lessons/60057

* "ababcdcdababcdcd"
---
* 9 (2ababcdcd)

In [11]:
def solution(s):
    sc = ''
    cut = ''
    result = {}
    for i in range(len(s)):
        if len(cut) == 0:
            cut += s[i]
            sc = s[i+1:]
            print(cut, "\t", sc, "\t", s)
        else:
            if sc.startswith(cut):
                print("?")
                if cut not in list(result):
                    result[cut] = 0
                    cut = ''
                else:
                    result[cut] += 1
                    cut = ''
                print(result)
                if len(cut) > len(sc):
                    break
                sc = sc[len(cut):]
            else:
                cut += s[i]
                sc = sc[i+1:]
            print("\t", cut, "\t\t", sc)
                
    print(result)
        
    
    return

solution("ababcdcdababcdcd")

a 	 babcdcdababcdcd 	 ababcdcdababcdcd
	 ab 		 bcdcdababcdcd
	 aba 		 cdababcdcd
	 abab 		 abcdcd
	 ababc 		 d
	 ababcd
	 ababcdc
	 ababcdcd
	 ababcdcda
	 ababcdcdab
	 ababcdcdaba
	 ababcdcdabab
	 ababcdcdababc
	 ababcdcdababcd
	 ababcdcdababcdc
	 ababcdcdababcdcd
{}

## 12946. 하노이의 탑
* https://school.programmers.co.kr/learn/courses/30/lessons/12946

## 42842. 카펫
* https://school.programmers.co.kr/learn/courses/30/lessons/42842

## 42888. 오픈채팅방
* https://school.programmers.co.kr/learn/courses/30/lessons/42888

## 42853. 다리를 지나는 트럭
* https://school.programmers.co.kr/learn/courses/30/lessons/42583

* 2
* 10
* [7,4,5,6]
---
* 8

In [ ]:
# 1 (실패 - 71.4/100)
from collections import deque

def solution(bridge_length, weight, truck_weights):
    answer = 0
    bridge = deque([0] * bridge_length)
    trucks = deque(truck_weights)
    
    while len(trucks) > 0:
        sb = sum(bridge)
        if sb <= weight:
            while len(trucks) > 0 and sb - bridge[0] + trucks[0] <= weight:
                b0 = bridge.popleft()
                t0 = trucks.popleft()
                bridge.append(t0)
                sb = sb - b0 + t0
                answer += 1
                #print("1b: ", bridge, " t: ", trucks, " a: ", answer)
                
        while len(trucks) > 0 and sum(bridge) + trucks[0] > weight:
            bridge.popleft()
            if sum(bridge) + trucks[0] < weight:
                bridge.append(trucks.popleft())
            else:
                bridge.append(0)
            answer += 1
            #print("2b: ", bridge, " t: ", trucks, " a: ", answer)

    if sum(bridge) > 0:
        answer += bridge_length
        #print("3b: ", bridge, " t: ", trucks, " a: ", answer)
        
    return answer

## 67257. 수식 최대화
* https://school.programmers.co.kr/learn/courses/30/lessons/67257

## 64064. 불량 사용자
* https://school.programmers.co.kr/learn/courses/30/lessons/64064

In [ ]:
import re

def solution(user_id, banned_id):
    ban = []
    for b in banned_id:
        b1 = b.replace('*', '.')
        b2 = re.compile(b1)
        ban.append(b2)
    
    for i in range(len(banned_id)):
        for u in user_id:
            m = ban[i].search(u)
            if m and len(banned_id[i]) == len(u):
                print("find: ", u)
            else:
                print("no")
                
        print()
    
    answer = 0
    return answer

## 67258. 보석 쇼핑
* https://school.programmers.co.kr/learn/courses/30/lessons/67258

## 49994. 방문 길이
* https://school.programmers.co.kr/learn/courses/30/lessons/49994

* "ULURRDLLU"
---
* 7

In [ ]:
def solution(dirs):
    x, y = 0, 0
    route = []
    old = 0
    
    for d in dirs:
        xt, yt = x, y
        if d == 'L':
            xt -= 1
        if d == 'R':
            xt += 1
        if d == 'U':
            yt += 1
        if d == 'D':
            yt -= 1
            
        if abs(xt) <= 5 and abs(yt) <= 5:
            if [x, y, xt, yt] in route or [xt, yt, x, y] in route:
                old += 2
            route.append([x, y, xt, yt])
            route.append([xt, yt, x, y])
            x, y = xt, yt
            
    # print(route)
    return (len(route) - old) // 2

## 43163. 단어 변환
* https://school.programmers.co.kr/learn/courses/30/lessons/43163

* "hit"
* "cog"
* ["hot", "dot", "dog", "lot", "log", "cog"]
---
* 4

In [ ]:
# 1 (실패 - 80/100)
def similar(noww, nextw): # 글자 차이 갯수 return
    count = 0
    for x in noww:
        if x not in nextw:
            count += 1
    
    return count

def dfs(now, words2, answer, target):
    if similar(now, target) == 1:
        countlist.append(answer+1)
        return
    
    for nextw in words2:
        if similar(now, nextw) == 1:
            temp = words2.copy()
            temp.remove(nextw)
            dfs(nextw, temp, answer+1, target)
    

def solution(begin, target, words):
    if target not in words:
        return 0
    
    answer = 0
    global countlist
    countlist = []
    if similar(begin, target) == 1:
        return 1
    else:
        for nextw in words:
            if similar(begin, nextw) == 1:
                temp = words.copy()
                temp.remove(nextw)
                dfs(nextw, temp, answer+1, target)
    
    return min(countlist)